@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  *::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #ebf1ff;
  }

  *::-webkit-scrollbar-thumb {
    background: #203b6a;
    border-radius: 100vh;
  }
}
